# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.swp
*.sw*
._**
**/.DS_Store
**/._.DS_Store

# Directories
RAID
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles
.root_history
raw
raw.copiedtotape
cache
logs
scratch
AnalysisReports
# Symbolic links
hcana
