# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.swp
*.sw*

# Directories
RAID
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles
.root_history
raw
raw.copiedtotape
cache
logs

# Symbolic links
hcana
