# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root

# Directories
OUTPUT
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles
logs
.root_history
raw
raw.copiedtotape
cache

# Symbolic links
hcana
